sheet-seed.json
{
  "name": "sheet-seed-services",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "sheet-seed-services",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "wh-seed",
      "name": "Webhook",
      "webhookId": "sheet-seed-services"
    },
    {
      "parameters": {
        "jsCode": "const rows = [\n  [\n    'slug','number','card_eyebrow','card_title','card_desc',\n    'page_intro',\n    'item1_title','item1_desc','item1_tag1','item1_tag2',\n    'item2_title','item2_desc','item2_tag1','item2_tag2',\n    'item3_title','item3_desc','item3_tag1','item3_tag2',\n    'callout_text','image_prompt'\n  ],\n  [\n    'health-safety-management','01','Health & Safety','Health & Safety Management',\n    'RAMS, toolbox talks, and compliance documentation automated. Stay compliant without the paperwork burden.',\n    'Construction subcontractors carry a disproportionate share of health and safety liability. RAMS documents, toolbox talks, site inductions, and compliance records pile up fast — and the cost of getting it wrong is measured in fines, lost contracts, and worse. Automation takes the burden off your team without cutting corners.',\n    'What manual H&S management actually costs',\n    'Every RAMS document written from scratch is time your site manager isn't managing the site. Every missed toolbox talk is a liability. Every expired certification that slips through is a potential prosecution. The administrative overhead of compliance isn't just slow — it's a risk in itself.',\n    'Compliance','Risk',\n    'What the automated system handles',\n    'The system generates RAMS documents from your existing templates, distributes toolbox talks to the right operatives, tracks acknowledgements, monitors certification expiry dates, and flags issues before they become incidents. Every document is logged, timestamped, and retrievable.',\n    'RAMS','Documentation',\n    'What your team gets back',\n    'Site managers spend time on site, not paperwork. Compliance gaps are caught automatically before audits. Your health and safety record becomes a competitive advantage — clients and main contractors can see you operate to a higher standard than most.',\n    'Operations','Efficiency',\n    '\"The RAMS document that takes your team three hours to write from scratch can be generated in minutes. The time saved compounds across every project.\"',\n    'Aerial view of a UK construction site with safety barriers, workers in hi-vis vests, organised site compound, professional and methodical, warm light'\n  ],\n  [\n    'social-media-marketing','02','Marketing','Social Media & Marketing',\n    'Project updates captured on site, automatically turned into professional content that generates consistent enquiries.',\n    'Most subcontractors do exceptional work that nobody outside their immediate network ever sees. A consistent social media presence used to mean hiring someone to manage it — which most businesses cannot justify. Automation changes that equation entirely.',\n    'The visibility problem and what it costs',\n    'Referrals and repeat clients are reliable but finite. The subcontractors winning new work consistently are the ones showing up professionally online. An irregular or non-existent presence signals instability to potential clients, regardless of the quality of your work.',\n    'Pipeline','Visibility',\n    'How automated content capture works',\n    'The system turns site photos and project updates into professional social media posts without requiring you to write a word. It schedules content across platforms, maintains a consistent posting cadence, and keeps your business visible to the right audience — all without manual effort from your team.',\n    'Content','Automation',\n    'The compounding effect on enquiry volume',\n    'Consistent visibility builds trust over time. Clients who have seen your work regularly for six months before they need you are far more likely to reach out than those encountering you for the first time. The pipeline effect of a consistent social presence compounds month over month.',\n    'Enquiries','Growth',\n    '\"The project you are proud of but never posted about is the one that did not generate a referral. Automation makes sure that never happens again.\"',\n    'Construction worker on site photographing completed work, professional documentation, UK construction project, warm golden hour lighting'\n  ],\n  [\n    'lead-generation-crm','03','Lead Generation','Lead Generation & CRM',\n    'Every enquiry captured, tracked, and followed up. No lead falls through the gap again.',\n    'For most subcontract businesses, enquiries arrive across multiple channels with no consistent process to capture, qualify, or follow up. A missed enquiry in a busy site week does not feel significant at the time. Over a year, the lost revenue adds up to more than most businesses realise.',\n    'The cost of an unmanaged enquiry pipeline',\n    'When an enquiry arrives during a busy week and nobody follows up within 24 hours, the job has already gone elsewhere. Most subcontractors have no visibility of what is in their pipeline, how many enquiries they are losing, or which channels are generating the best opportunities.',\n    'Pipeline','Revenue',\n    'How centralised enquiry management works',\n    'The system captures enquiries from every channel — email, phone, referral, web form — and routes them into a single CRM. Automated follow-up sequences ensure no enquiry goes cold. Every conversation is logged, every quote tracked, and every opportunity followed through to a decision.',\n    'CRM','Follow-up',\n    'What a managed pipeline makes possible',\n    'When you can see every opportunity in one place, you make better decisions about which jobs to pursue. Win rates improve not because you are cutting price but because you are the one following up consistently. Over time, the data tells you which enquiry sources are worth investing in.',\n    'Win Rate','Intelligence',\n    '\"The enquiry that gets a response in ten minutes wins the relationship before the quote is even written.\"',\n    'Clean modern site office with laptop showing a CRM dashboard, construction documents and blueprints nearby, professional UK business environment'\n  ],\n  [\n    'personal-assistant','04','Administration','Personal Assistant & Digital Receptionist',\n    'Communications, scheduling, and document creation handled automatically. Your business runs without you managing every detail.',\n    'Running a subcontract business means fielding calls, responding to emails, chasing information, and managing a schedule — often while you are trying to run a site. The administration that keeps the business moving should not require your constant attention. Automation takes the operational burden off the people who need to be focused elsewhere.',\n    'The administration overhead that slows businesses down',\n    'Every call that goes unanswered during a site visit is a potential client lost. Every email that sits unread for three days is a relationship cooling. Every scheduling conflict that could have been avoided costs time to fix. The cumulative cost of unmanaged administration is invisible until it becomes a problem.',\n    'Operations','Capacity',\n    'What an AI receptionist and assistant actually handles',\n    'The system manages inbound enquiries, books appointments, creates and sends documents, and provides daily business insights without requiring your input for routine tasks. It learns your preferences, understands your schedule, and handles the administrative layer so your team can focus on delivery.',\n    'Communications','Scheduling',\n    'What you get back when administration runs itself',\n    'Owners who step back from day-to-day administration make better strategic decisions. Response times improve. Scheduling becomes proactive rather than reactive. The business starts to feel like it is running smoothly rather than constantly catching up.',\n    'Focus','Growth',\n    '\"The call answered while you are on site, the email sent before you thought to send it — that is the difference between a business that feels in control and one that does not.\"',\n    'AI assistant interface on a tablet in a construction site office, professional and clean, warm lighting, UK setting'\n  ],\n  [\n    'hr-internal-communications','05','People & HR','HR & Internal Communications',\n    'Onboarding, training tracking, and certification management automated. Your people are always compliant and informed.',\n    'Growing a subcontract business means managing more people — and the HR overhead grows faster than most expect. Onboarding, training records, certification expiry dates, and internal communications all require consistent attention. Automation handles the repetitive layer so your team focuses on performance, not paperwork.',\n    'Where HR administration breaks down in practice',\n    'A certification that expires without a reminder becomes a compliance issue on site. A new starter who is not properly onboarded takes longer to reach productivity and is more likely to leave. Internal communications that rely on word of mouth create inconsistency. The cumulative effect is a workforce that is harder to manage than it needs to be.',\n    'Compliance','People',\n    'What automated HR management handles',\n    'The system tracks certification expiry dates and sends reminders before they lapse. New starters receive a consistent onboarding experience automatically. Training records are maintained and retrievable. Internal communications go to the right people at the right time without relying on anyone to remember to send them.',\n    'Onboarding','Training',\n    'What a well-managed workforce makes possible',\n    'When certification and compliance are handled automatically, site managers stop fire-fighting and start leading. When internal communications are consistent, your team works from the same information. The business scales without the HR overhead growing at the same rate.',\n    'Scale','Operations',\n    '\"The certification that lapses without a reminder becomes a site shutdown. The new starter who is not properly onboarded costs twice what they should. Automation closes both gaps.\"',\n    'Construction team in a site office, HR documentation and safety certificates visible, professional UK construction business environment'\n  ]\n];\nreturn [{ json: { values: rows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "cd-seed",
      "name": "Build rows"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1rmRmTsiK-IAraRzRWFmTBr_Mq0HxvNGL14cP7PgFTBc/values/Services!A1?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: $json.values }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "id": "http-write",
      "name": "Write to sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qef9aerPDR2Xajto",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"seeded\",\"rows\":{{ $('Build rows').first().json.values.length }}}",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [660, 0],
      "id": "rsp-seed",
      "name": "Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{"node": "Build rows", "type": "main", "index": 0}]]
    },
    "Build rows": {
      "main": [[{"node": "Write to sheet", "type": "main", "index": 0}]]
    },
    "Write to sheet": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "versionId": "sheet-seed-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "360f2bc92c6156b75156c79a76cc952334e9f8c5f4440b0c32f789057e17aa73"
  },
  "id": "sheet-seed-wf",
  "tags": []
}
